body nav span{
    margin: 1000px;
}
span{
    color: blueviolet;
    text-decoration: line-through;
    column-count: 3;
    column-gap: 20px;
}
ol{
    border-width: 20px;
    border-style: ridge;
}
li{
    list-style: none;
    text-shadow: 2px 5px lightcoral;
}
strong{
    display: block;
}
em{
    display: inline;
    color: blueviolet ;
}
nav{
    border: 10px solid green;
    border-style: dotted;
    margin: 60px 40px ;
    color: cyan;
    padding-left: 5px;
    padding-right: 10px;
}
nav li{
    display: inline;
}
nav li:hover{
    color: darkgreen;
}
p.bold{
    color: red;
    border: inherit;
    margin: inherit;
    color: #000;
}
h1{
    color: rgb(109, 88, 88);
    position: relative;
    left:200px;
    border: 20px solid;
    border-left: 24px dotted;
    border-style: dotted;
    border-width: 2px;
    padding: 10px 5px;
    display: inline-block;
    font-size: 15px;
    
    z-index: 1;
}
main{
    max-width: 10%;
    width: 1000px;
    margin: 2000px;
}
form input:focus{
    border: 20px solid red;
}
form input:valid{
    border: 2px dotted rebeccapurple;
}
@media screen and (max-width:1400px ) {
    h1{
        font-size: 20px;
    }
    
}